doctype html
html(lang="en")
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    main.main_content
      h2 Welcome to Book Manager!
      p What would you like to do?
      div
        button Add a Book
        button Remove a Book
        button Manage Book status
        button List my Books
        button Find books
      div.form-card
        h3 Add a book:
        form(action="/add-book" method='POST')
          div.col
            each attribute in bookAttributes
              if attribute.label != "Status"
                label(for=attribute.name)= attribute.label + ':'
                input(type=attribute.type name=attribute.name)
              else
                  label(for=attribute.name)= attribute.label + ':'
                  div
                    each option in attribute.options
                      input(type="radio", name=attribute.name value=option.name)
                      span= option.label
          div.form-submit
            button(type='submit') Submit
    include ./includes/footer.pug