doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      if bookList.length > 0
        if filter === 'all'
          table
            tr
              th Title
              th Author
              th Options
            each bookItem in bookList
              tr
                td= bookItem.title
                td= bookItem.author
                if bookItem.isAdded
                  td
                    a.table-button.disabled(href=('/user/book/add/' + bookItem._id)) Added
                else
                  td
                    a.table-button(href=('/user/book/add/' + bookItem._id)) Add
        else
          table
            tr
              th Title
              th Author
              th Added At
              th Finished At
              th Status
              th Score
              th Options
            each bookItem in bookList
              tr
                td= bookItem.id.title
                td= bookItem.id.author
                td= (bookItem.addedAt.toISOString().slice(0, 10))
                td= (bookItem.finishedAt.toISOString().slice(0, 10))
                td= bookItem.status
                td= bookItem.score
                td
                  a.table-button(href=('/user/book/edit/' + bookItem.id._id)) Edit
                  a.table-button(href=('/user/book/remove/' + bookItem.id._id)) Remove
      else
        h2 Your list is empty.
    include ../includes/footer.pug