doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      .box-form.center
        form(action=(editMode ? '/user/edit-book' : '/user/add-book') method='POST')
          label(for='title') Title:
          input(type='text' name='title' value=bookItem.title disabled)
          label(for='author') Author:
          input(type='text' name='author' value=bookItem.author disabled)
          label(for='addedAt') Added At:
          input(type='date' name='addedAt' value=bookItem.addedAt disabled)
          label(for='finishedAt') Finished At:
          input(type='date' name='finishedAt' value=bookItem.finishedAt)
          label(for='score') Score:
          input(type='number' name='score' value=bookItem.score)
          label(for='status') Status:
          select(name='status')
            option(selected=(!bookItem.status ? true : false) value= '') Select an option
            option(value='want to read' selected=(bookItem.status === 'want to read' ? true : false)) Want to Read
            option(value='reading' selected=(bookItem.status === 'reading' ? true : false)) Reading
            option(value='read' selected=(bookItem.status === 'read' ? true : false)) Read
          .row.pt-20
            .column
              input(type='hidden' name='_id' value=bookItem.id)
              input(type='hidden' name='_title' value=bookItem.title)
              input(type='hidden' name='_author' value=bookItem.author)
              input(type='hidden' name='_addedAt' value=bookItem.addedAt)
              input(type='hidden' name='csrf' value=csrfToken)
              input(type='submit', value='Save')
            .column
              .button-link
                a(href=(editMode ? '/user/book' : '/user/book/add')) Cancel
    include ../includes/footer.pug