doctype html
html(lang="en")
  include ../includes/head.pug
  body
    include ../includes/navbar.pug
    main
      if bookList.length > 0
        if filter === 'all'
          table
            tr
              th Title
              th Author
            each book in bookList
              tr
                td= book.title
                td= book.author
                td
                  a(href=('/user/book/add/' + book._id) class=(book.isAdded ? 'disabled' : '')) Add
                  a(href=('/user/book/remove/' + book._id) class=(book.isAdded ? '' : 'disabled')) Remove
        else
          table
            tr
              th Title
              th Author
              th Added At
              th Finished At
              th Status
              th Options
            each book in bookList
              tr
                td= book._id.title
                td= book._id.author
                td= (book.addedAt.toISOString().slice(0, 10))
                td= (book.finishedAt.toISOString().slice(0, 10))
                td= book.status
                td
                  a(href=('/user/book/remove/' + book._id)) Remove
      else
        h2 Your list is empty.
    include ../includes/footer.pug